@charset "UTF-8";

.section_content {
	text-align: left;
}

article {
	margin: 3% 9% 3% 9%;
	padding: 2%;
	border-radius: 20px;
}

article:hover {
	background-color: #b8de6f;
	-webkit-transition: background-color 500ms linear;
}

article p {
	color: #92817a;
	font-size: x-large;
	font-family: 'Nanum Pen Script', cursive;
}