@charset "UTF-8";

.section_main {
	text-align: left;
}

article {
	padding: 2%;
	margin: 3% 9% 3% 9%;
	border-radius: 20px;
}

article:hover {
	background-color: #b8de6f;
	-webkit-transition: background-color 500ms linear;
}

article p {
	font-size: x-large;
	font-family: 'Nanum Pen Script', cursive;
    color: var(--main-text-color);
}