@charset "UTF-8";

@import
	url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap")
	;

@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

/* 고려해보기 
    색상값을 변수화 해서 사용해보기
    화면사이즈 바뀌어도 최대한 덜 깨지게 해보기
    네이버 css 컨벤션 참고(id 사용 가급적 자제, _사용,)
*/

/* 전역 변수 */
:root {
	-main-text-color: #92817a;
	-main-address-color: #477373;
}

/* 전체 레이아웃 및 전역스타일링 */
html, body, #wrap {
	margin: auto;
}

#wrap {
	display: block;
	padding: 3px;
	background: darkturquoise;
}

header, section, footer {
	padding: 10px;
	margin: 10px;
	border-radius: 7px;
	background: floralwhite;
}

#content, footer {
	text-align: center;
}

a {
	text-decoration: none;
}

/* 헤더 및 네비게이션 */
header {
	height: 4%;
}

.nav_head {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.list_globalnav {
	overflow: auto;
	position: relative;
	list-style: none;
	margin: 0;
}

.list_globalnav li {
	float: right;
	width: 80px;
	height: 80%;
	margin: 5px;
	padding: 3px;
	border-radius: 7px;
	background: #a6f6f1;
	box-shadow: 3px 1.5px 1.5px #f7dad9;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: medium;
	color: #41aea9;
	text-align: center;
}

.list_globalnav li:hover {
	background-color: #7579e7;
	color: #a3d8f4;
	cursor: pointer;
	-webkit-transition: color 500ms linear;
	-webkit-transition: background-color 500ms linear;
}

/* 푸터 */
footer {
	display: block;
	height: 5%;
}

footer span, footer a {
	color: var(- -main-address-color);
}