@charset "UTF-8";

.ul_photolist li{
    overflow: auto;
    margin: 5%;
    box-shadow: 0px 2px teal;
}

.ul_photolist img{
	float: left;
	width: 260px;
	height: 200px;
	border: 6px solid #ffd57e;
}

.ul_photolist img, .ul_photolist div{
	margin: 18px;
}

.ul_photolist > li > div{
	text-align: left;
}

.ul_photolist p{
	font-size: x-large;
    font-family: 'Gamja Flower', cursive;
    color: var(--main-text-color);
}