@charset "UTF-8";

#wrap {
    display: block;
    padding: 3px;
    background: darkturquoise;
}

header, #container {
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    background: floralwhite;
}

#content {
    text-align: center;
}

a {
    text-decoration: none;
}